#circle-container {
    border: black solid 0.1vh;
    min-width: 35vh;
    min-height: 25vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    justify-content: center;
    align-content: center;
}

.ball {
    width: 11vh;
    height: 11vh;
    margin: 2vh;
    border: 0.1vw solid black;
    border-radius: 50%;
}